<button onclick="topFunction()" id="myBtn" title="Go to top">
  ^
</button>
<footer class="main-footer">
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-12 text-center text-md-left">
        <strong class=""
          >Designed By <a href="https://zephweb.com" target="_blank">ZephWeb</a> | <a
            href="http://across-university.org" target="_blank"
            >Across</a
          >
          Module Catalogue</strong
        >
      </div>
    </div>
  <!-- </div> -->
</footer>
