<div class="wrapper">
  <!-- Navbar Component -->
  <app-navbar-in></app-navbar-in>

  <!-- Sidebar Component -->
  <app-sidebar></app-sidebar>

  <div class="content-wrapper" style="min-height: 724px">
    <div class="container-fluid">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-6">
              <h4 class="m-0">Across | Pending Requests</h4>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item active">Pending Requests</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div *ngFor="let transfer of creditTransferRequests" class="card module-detail-card shadow-lg">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col-md-6 important-text">
                      <strong>Request ID:</strong> {{ transfer.requestId }}
                    </div>
                    <div class="col-md-4">
                      <strong>Status: </strong>
                      <span class="badge badge-light py-2 px-2" style="font-size: medium; color:#0056B3">{{
                        transfer.requestStatus }}</span>
                    </div>
                  </div>
                  <hr />
                  <!-- Student First Name -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Student First Name:</label>
                    </div>
                    <div class="col-sm-9" style="color: rgb(90, 88, 88)">
                      {{ transfer.studentFName }}
                    </div>
                  </div>

                  <!-- Student Last Name -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Student Last Name:</label>
                    </div>
                    <div class="col-sm-9" style="color: rgb(90, 88, 88)">
                      {{ transfer.studentLName }}
                    </div>
                  </div>

                  <!-- Student University Name -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Student University Name:</label>
                    </div>
                    <div class="col-sm-9" style="color: rgb(90, 88, 88)">
                      {{ transfer.studentUniversityName }}
                    </div>
                  </div>


                  <!-- Transfer Credit from Module -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Transfer Credit from Module:</label>
                    </div>
                    <div class="col-sm-9" style="color: rgb(90, 88, 88); font-weight: bold;">
                      {{ transfer.requestedModuleName }} ({{ transfer.requestedUniName }})
                    </div>
                  </div>

                  <!-- Module Credit -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Module Credit:</label>
                    </div>
                    <div class="col-sm-9" style="color: rgb(90, 88, 88)">
                      {{ transfer.requestedModuleCredit }}
                    </div>
                  </div>

                  <!-- Transfer Credit To Module -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Transfer Credit To Module:</label>
                    </div>
                    <div class="col-sm-9" style="color:  rgb(90, 88, 88); font-weight: bold;">
                      {{ transfer.targetModuleName }} ({{ transfer.targetUniName }})
                    </div>
                  </div>

                  <!-- Target Module Credit -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Module Credit:</label>
                    </div>
                    <div class="col-sm-9" style="color: rgb(90, 88, 88)">
                      {{ transfer.targetModuleCredit }}
                    </div>
                  </div>

                  <!-- Request Date -->
                  <div class="row align-items-center mb-2">
                    <div class="col-sm-3">
                      <label>Date:</label>
                    </div>
                    <div class="col-sm-9" style="color: rgb(90, 88, 88)">
                      {{ transfer.requestDate }}
                    </div>
                  </div>

                  <!-- Action Buttons -->
                  <div class="text-center mt-3">
                    <button (click)="approve(transfer.requestId)" class="btn btn-primary btn-md"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path
                          d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                      </svg> Approve</button>
                    <button (click)="reject(transfer.requestId)" class="btn btn-danger btn-md ml-2"><svg
                        xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                      </svg>Reject</button>
                  </div>
                  <ng-template #noTransfersTemplate>
                    <p>No transfer requests currently.</p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <app-footer-in></app-footer-in>
</div>