<nav class="main-header navbar navbar-expand-md navbar-light navbar-white custom-padding">
  <div class="container-fluid">

    <a (click)="navigateTo('/home')" class="navbar-brand pb-0">
      <img src="assets/Across_New.svg" class="brand-image logo-small" alt="Across Logo"  style="float: left;"/>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('home')">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/university')">
            <i class="fas fa-university"></i> Universities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/login')">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>