<div class="wrapper">
  <app-header></app-header>
  <div class="content-wrapper background-image">
    <div class="center-content">
      <div class="jumbotron text-center m-3">
        <h1 class="display-4">Welcome to our <b>Across Modulkatalog!</b></h1>
        <p class="lead">
          A comprehensive solution for managing university modules.
        </p>
        <hr class="my-4" />
        <p>Explore modules, manage coursework, and collaborate efficiently.</p>
        <a
          class="btn btn-primary btn-lg"
          (click)="navigateTo('/login')"
          role="button"
          >Login Here</a
        >
      </div>
      <p class="credit">
        Photo by
        <a
          href="https://unsplash.com/@itfeelslikefilm?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          >🇸🇮 Janko Ferlič</a
        >
        on
        <a
          href="https://unsplash.com/photos/photo-of-library-with-turned-on-lights-sfL_QOnmy00?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
          >Unsplash</a
        >
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
