<div class="wrapper">
  <app-navbar-in></app-navbar-in>
  <app-sidebar></app-sidebar>

  <div class="content-wrapper" style="min-height: 724px">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Across | Student Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">Student Permissions</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List of Students</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    #dataTable
                    class="table table-striped table-bordered hover nowrap dtr-inline"
                    style="width: 100%"
                    id="example1"
                  >
                    <thead>
                      <!-- <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>User Role</th>
                        <th>Actions</th>
                      </tr> -->
                    </thead>
                    <tbody *ngIf="data">
                      <!-- <tr *ngFor="let item of data">
                        <td>{{ item.fname }}</td>
                        <td>{{ item.lname }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.roleName }}</td>
                        <td>
                          <button
                            class="btn btn-danger mr-2"
                            (click)="deleteUser(item)"
                          >
                            Delete
                          </button>
                          <button
                            class="btn btn-primary"
                            (click)="toggleApproval(item)"
                          >
                            {{ item.isApproved ? "Disapprove" : "Approve" }}
                          </button>
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <app-footer-in></app-footer-in>
</div>
