<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <img src="../../../assets/Favicon_Blue.png" alt="ZephWeb Logo" class="brand-image img-circle elevation-3"
      style="opacity: 0.8" />
    <span class="brand-text font-weight-light">Across University</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search"
            id="search" />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/profile" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>Profile</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin-dsb" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              User Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/user-permissions" class="nav-link">
                <i class="fas fa-key nav-icon"></i>
                <p>Permissions</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-graduation-cap"></i>
            <p>
              Course Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/add-course" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Course</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/show-course" class="nav-link">
                <i class="fas fa-eye nav-icon"></i>
                <p>Show Course</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="/update-course" class="nav-link">
                <i class="fas fa-edit nav-icon"></i>
                <p>Update Course</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Module Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/add-module" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Add Module</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/show-modules" class="nav-link">
                <i class="fas fa-eye nav-icon"></i>
                <p>Show Module</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/module-list" class="nav-link">
                <i class="fas fa-edit nav-icon"></i>
                <p>Update Module</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>