<div class="wrapper">
  <app-navbar-in></app-navbar-in>
  <app-sidebar></app-sidebar>

  <div class="content-wrapper" style="min-height: 724px">
    <div class="container-fluid">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-6">
              <h4 class="m-0">Enrolled Student | Approved Requests</h4>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item active">Approved Requests</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- <div class="col-md-3 d-none d-md-block"></div> -->
            <div *ngFor="let transfer of creditTransfers" class="col-md-6">
              <!-- Adjusted card classes to fit AdminLTE style -->
              <div class="card card-primary card-outline elevation-2">
                <div class="card-header">
                  <h3 class="card-title">
                  <i class="fas fa-book-open"></i>
                  {{ transfer.toModName }}
                  </h3>
                  </div>
                <div class="card-body">
                  <p class="card-text">
                    <i class="fas fa-id-card"></i> 
                    <strong> Module ID:</strong> {{ transfer.toModuleId }}
                  </p>
                  <p class="card-text">
                    <i class="fas fa-star text-warning"></i>
                    <strong> Credits Received: </strong>{{ transfer.creditsToBeTransferred }}
                  </p>
                  <button href="#" class="btn btn-primary" (click)="viewTranscript(transfer)">View This Transcript</button>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3 d-none d-md-block"></div> -->
          </div>
          <ng-template #noTransfersTemplate>
            <p>No transfer requests currently.</p>
          </ng-template>
        </div>
      </section>
      
     
    </div>
  </div>

  <app-footer-in></app-footer-in>
</div>